:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255,255,255,0.15), rgba(255,255,255,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size:1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: rgba(33,37,41,0.75);
    --bs-secondary-color-rgb: 33,37,41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233,236,239;
    --bs-tertiary-color: rgba(33,37,41,0.5);
    --bs-tertiary-color-rgb: 33,37,41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248,249,250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13,110,253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10,88,202;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0,0,0,0.175);
    --bs-border-radius: .375rem;
    --bs-border-radius-sm: .25rem;
    --bs-border-radius-lg: .5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0,0,0,0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,0.075);
    --bs-focus-ring-width: .25rem;
    --bs-focus-ring-opacity: .25;
    --bs-focus-ring-color: rgba(13,110,253,0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545
}
*,*::before,*::after {
    box-sizing:border-box
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior:smooth
    }
}
body {
    margin:0;
    font-family:var(--bs-body-font-family);
    font-size:var(--bs-body-font-size);
    font-weight:var(--bs-body-font-weight);
    line-height:var(--bs-body-line-height);
    color:var(--bs-body-color);
    text-align:var(--bs-body-text-align);
    background-color:var(--bs-body-bg);
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
h2,.h2,h1,.h1 {
    margin-top:0;
    margin-bottom:.5rem;
    font-weight:500;
    line-height:1.2;
    color:var(--bs-heading-color)
}
h1,.h1 {
    font-size:calc(1.375rem + 1.5vw)
}
@media (min-width: 1200px) {
    h1,.h1 {
        font-size:2.5rem
    }
}
h2,.h2 {
    font-size:calc(1.325rem + .9vw)
}
@media (min-width: 1200px) {
    h2,.h2 {
        font-size:2rem
    }
}
p {
    margin-top:0;
    margin-bottom:1rem
}
a {
    color:rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration:underline
}
a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb)
}
a:not([href]):not([class]),a:not([href]):not([class]):hover {
    color:inherit;
    text-decoration:none
}
img,svg {
    vertical-align:middle
}
::-moz-focus-inner {
    padding:0;
    border-style:none
}
::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-text,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-year-field {
    padding:0
}
::-webkit-inner-spin-button {
    height:auto
}
::-webkit-search-decoration {
    -webkit-appearance:none
}
::-webkit-color-swatch-wrapper {
    padding:0
}
::-webkit-file-upload-button {
    font:inherit;
    -webkit-appearance:button
}
::file-selector-button {
    font:inherit;
    -webkit-appearance:button
}
.img-fluid {
    max-width:100%;
    height:auto
}
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width:100%;
    padding-right:calc(var(--bs-gutter-x) * .5);
    padding-left:calc(var(--bs-gutter-x) * .5);
    margin-right:auto;
    margin-left:auto
}
@media (min-width: 1400px) {
    .container-xxl {
        max-width:1320px
    }
}
:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px
}
@media (min-width: 576px) {
    .col-sm-8 {
        flex:0 0 auto;
        width:66.666667%
    }
}
@media (min-width: 992px) {
    .col-lg-12 {
        flex:0 0 auto;
        width:100%
    }
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display:flex;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.nav-link {
    display:block;
    padding:var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size:var(--bs-nav-link-font-size);
    font-weight:var(--bs-nav-link-font-weight);
    color:var(--bs-nav-link-color);
    text-decoration:none;
    background:none;
    border:0;
    transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out
}
@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition:none
    }
}
.nav-link:hover,.nav-link:focus {
    color:var(--bs-nav-link-hover-color)
}
.nav-link:focus-visible {
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,0.25)
}
.nav-link:disabled {
    color:var(--bs-nav-link-disabled-color);
    pointer-events:none;
    cursor:default
}
.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd
}
.nav-pills .nav-link {
    border-radius:var(--bs-nav-pills-border-radius)
}
.nav-pills .nav-link.active {
    color:var(--bs-nav-pills-link-active-color);
    background-color:var(--bs-nav-pills-link-active-bg)
}
.tooltip {
    --bs-tooltip-zindex: 1080;
    --bs-tooltip-max-width: 200px;
    --bs-tooltip-padding-x: .5rem;
    --bs-tooltip-padding-y: .25rem;
    --bs-tooltip-margin: ;
    --bs-tooltip-font-size:.875rem;
    --bs-tooltip-color: var(--bs-body-bg);
    --bs-tooltip-bg: var(--bs-emphasis-color);
    --bs-tooltip-border-radius: var(--bs-border-radius);
    --bs-tooltip-opacity: .9;
    --bs-tooltip-arrow-width: .8rem;
    --bs-tooltip-arrow-height: .4rem;
    z-index:var(--bs-tooltip-zindex);
    display:block;
    margin:var(--bs-tooltip-margin);
    font-family:var(--bs-font-sans-serif);
    font-style:normal;
    font-weight:400;
    line-height:1.5;
    text-align:left;
    text-align:start;
    text-decoration:none;
    text-shadow:none;
    text-transform:none;
    letter-spacing:normal;
    word-break:normal;
    white-space:normal;
    word-spacing:normal;
    line-break:auto;
    font-size:var(--bs-tooltip-font-size);
    word-wrap:break-word;
    opacity:0
}
.link-dark {
    color:RGBA(var(--bs-dark-rgb), var(--bs-link-opacity, 1)) !important;
    -webkit-text-decoration-color:RGBA(var(--bs-dark-rgb), var(--bs-link-underline-opacity, 1)) !important;
    text-decoration-color:RGBA(var(--bs-dark-rgb), var(--bs-link-underline-opacity, 1)) !important
}
.link-dark:hover,.link-dark:focus {
    color:RGBA(26,30,33, var(--bs-link-opacity, 1)) !important;
    -webkit-text-decoration-color:RGBA(26,30,33, var(--bs-link-underline-opacity, 1)) !important;
    text-decoration-color:RGBA(26,30,33, var(--bs-link-underline-opacity, 1)) !important
}
.d-block {
    display:block !important
}
.d-flex {
    display:flex !important
}
.w-100 {
    width:100% !important
}
.flex-shrink-0 {
    flex-shrink:0 !important
}
.justify-content-center {
    justify-content:center !important
}
.align-items-center {
    align-items:center !important
}
.mx-auto {
    margin-right:auto !important;
    margin-left:auto !important
}
.my-5 {
    margin-top:3rem !important;
    margin-bottom:3rem !important
}
.mt-2 {
    margin-top:.5rem !important
}
.mt-5 {
    margin-top:3rem !important
}
.me-2 {
    margin-right:.5rem !important
}
.mb-0 {
    margin-bottom:0 !important
}
.mb-1 {
    margin-bottom:.25rem !important
}
.mb-3 {
    margin-bottom:1rem !important
}
.mb-4 {
    margin-bottom:1.5rem !important
}
.mb-5 {
    margin-bottom:3rem !important
}
.ms-3 {
    margin-left:1rem !important
}
.px-4 {
    padding-right:1.5rem !important;
    padding-left:1.5rem !important
}
.py-5 {
    padding-top:3rem !important;
    padding-bottom:3rem !important
}
.gap-1 {
    gap:.25rem !important
}
.fw-bold {
    font-weight:700 !important
}
.text-center {
    text-align:center !important
}
.text-decoration-none {
    text-decoration:none !important
}
.text-uppercase {
    text-transform:uppercase !important
}
.text-primary {
    --bs-text-opacity: 1;
    color:rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important
}
.text-warning {
    --bs-text-opacity: 1;
    color:rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important
}
@media (min-width: 992px) {
    .d-lg-grid {
        display:grid !important
    }
    .flex-lg-column {
        flex-direction:column !important
    }
    .justify-content-lg-start {
        justify-content:flex-start !important
    }
    .mx-lg-0 {
        margin-right:0 !important;
        margin-left:0 !important
    }
    .mb-lg-2 {
        margin-bottom:.5rem !important
    }
    .mb-lg-3 {
        margin-bottom:1rem !important
    }
    .mb-lg-4 {
        margin-bottom:1.5rem !important
    }
    .ms-lg-0 {
        margin-left:0 !important
    }
    .text-lg-start {
        text-align:left !important
    }
}
@media (min-width: 1400px) {
    .px-xxl-2 {
        padding-right:.5rem !important;
        padding-left:.5rem !important
    }
}
:root {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
    --bd-teal-rgb: 32,201,151;
    --bd-violet-bg: var(--bd-violet);
    --bd-toc-color: var(--bd-violet);
    --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
    --bd-callout-link: 10,88,202;
    --bd-callout-code-color: #ab296a;
    --bd-pre-bg: var(--bs-tertiary-bg)
}
:root {
    --base00: #fff;
    --base01: #f5f5f5;
    --base02: #c8c8fa;
    --base03: #565c64;
    --base04: #030303;
    --base05: #333;
    --base06: #fff;
    --base07: #9a6700;
    --base08: #bc4c00;
    --base09: #087990;
    --base0A: #795da3;
    --base0B: #183691;
    --base0C: #183691;
    --base0D: #795da3;
    --base0E: #a71d5d;
    --base0F: #333
}
.p {
    color:var(--base05)
}
a {
    -webkit-text-decoration-color:rgba(var(--bs-link-color-rgb), 0.25);
    text-decoration-color:rgba(var(--bs-link-color-rgb), 0.25);
    text-underline-offset:.25rem
}
a:hover,a:focus {
    -webkit-text-decoration-color:rgba(var(--bs-link-color-rgb), 0.5);
    text-decoration-color:rgba(var(--bs-link-color-rgb), 0.5)
}
.bi {
    display:inline-block;
    width:1em;
    height:1em;
    vertical-align:-.125em;
    fill:currentcolor
}
.sidebar-nav {
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-emphasis-color)
}
.sidebar-nav .nav-link {
    padding-inline:.75rem;
    border-radius:.5rem
}
.sidebar-nav .nav-link:not(.active):hover,.sidebar-nav .nav-link:not(.active):focus {
    background-color:rgba(var(--bd-violet-rgb), 0.05)
}
.sidebar-nav .nav-link.active {
    color:var(--bs-emphasis-color);
    background-color:rgba(var(--bd-violet-rgb), 0.1)
}
.masthead {
    overflow:hidden
}
@media (min-width: 768px) {
    .masthead {
        position:-webkit-sticky;
        position:sticky;
        top:4rem
    }
}
.bd-booticon {
    margin-left:-.75rem;
    transform:rotate(-5deg)
}
@media (max-width: 1024px) {
    .bd-booticon {
        width:128px;
        height:auto
    }
}
.f5 {
    font-size:1.25rem
}
.fw-600 {
    font-weight:600
}
.content {
    grid-template-columns:1.15fr 3fr;
    gap:3rem
}
.posts-container {
    max-width:760px
}
.post {
    margin-bottom:4em
}
.post-title,.post-title a {
    color:var(--bs-emphasis-color)
}
.post a {
    word-break:break-word
}
.post h2,.post .h2 {
    margin-top:1.5rem;
    font-size:calc(1.3rem + .6vw)
}
@media (min-width: 1200px) {
    .post h2,.post .h2 {
        font-size:1.75rem
    }
}
.post>h1,.post>.h1,.post>h2,.post>.h2 {
    color:var(--bs-emphasis-color)
}
.post>p:first-of-type,.post>img:first-child+p {
    font-size:133.333333%
}
.bd-text-purple {
    color:var(--bd-violet)
}
